/*=== IMPORTS ===*/

@import "compass/css3";
@import "compass/css3/font-face";
@import "modules/_variables.scss";
@import "modules/_mixins.scss";

/*=== FONTS ===*/

@include font-face("avenir", font-files("Avenir/avenir.woff", "Avenir/avenir.ttf", "Avenir/avenir.svg#AvenirNextLTPro-Regular"), "Avenir/avenir.eot?");

@include font-face("quicksandregular", font-files("quicksand/quicksand-regular-webfont.woff", "quicksand/quicksand-regular-webfont.ttf", "quicksand/quicksand-regular-webfont.svg"), "quicksand/quicksand-regular-webfont.eot");

body {
  margin: 0;
  font-size: 14px;
  font-family: 'avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #EEEEEE !important;
  font-family: 'dosis', Arial, sans-serif; }

#mainwrapper {
  background: none repeat scroll 0 0 #EEEEEE;
  font-family: 'avenir', Arial, sans-serif;
  position: relative; 
}

.homepage#mainwrapper {
  background: none repeat scroll 0 0 #EEEEEE;
  height: 100vh;
  font-family: 'avenir', Arial, sans-serif; 
}

a {
  color: $light_grey;
  text-decoration: none; 
  @include single-transition(ease-in-out, .5s)
}

a:hover {
  color: $dark_grey; 
}

/*===================== 
HEADER
=====================*/

#header {
  background: #eeeeee;
  height: 170px;
  padding: 30px;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2000; }

.logo {
  font-size: 40px;
  font-family: 'quicksandregular', sans-serif;
  margin-bottom: -5px;
  margin-top: -10px; }

.logo a {
  color: $dark_grey;
  text-decoration: none; }

.logo span {
  @include transition-duration(.5s);
}

.logo:hover span {
  color: $white; }

@include mobile() {
  .logo {
    font-size: 30px; } 
  }

.x {
  font-size: 20px;
  font-family: 'quicksandregular', sans-serif; }

/*=== Navigation ===*/

#menu {
  margin-top: 20px; }

#menu li {
  display: inline-block;
  padding: 0 12.5px 12.5px; }

#menu a {
  color: $light_grey; 
  @include single-transition(.5s, ease-in-out);
}

#menu a:hover {
  color: $dark_grey; 
}

#menu a.active {
  color: $dark_grey; }

/*===================== 
HOMEPAGE
=====================*/

#homepageheader {
  background: #87BA9E;
  position: relative;
  font-family: 'avenir', Arial, sans-serif;
  z-index: 3000; }

.homepagewrapper {
  margin: 0; }

.homepageleft {
  background-color: $black;
  display: inline-block;
  float: left;
  height: 100%;
  position: relative;
  width: 50%; }

.homepageright {
  background-color: $dark_grey;
  float: left;
  height: 100%;
  width: 50%; }

#homepagepic {
  background: url("../images/nyc.jpg") no-repeat scroll 0 0/cover transparent;
  bottom: 0;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.homepagelink {
  color: $white;
  text-align: center; }

.homepagetext {
  font-size: 23px;
  margin-top: 20px; }

.homepanel1 {
  background: none repeat scroll 0 0 #7DB4B1;
  color: $white;
  text-align: center;
  padding-bottom: 20px; }

.homepanel2 {
  background: none repeat scroll 0 0 #7DB4B1;
  height: 230px; }

@include keyframes(fadeIn) {
  from {@include transparent();}
  to {@include opaque();}
}

.fade-in {
  opacity: 0;
  @include animation(fadeIn 2s ease-in forwards);
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em; }

nav a:hover,
nav a:focus {
  outline: none; }

a.homepagelink.fade-in {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px 40px;
  margin-top: 20px;
  display: block; }

  /*=== Laptop Slider ===*/
#slider-in-laptop {
  width: 102%;
  height: 200px;
  padding: 1% 11.5% 10%;
  background: none;
  margin-left: -4px; }

#slider-in-laptop .rsOverflow,
#slider-in-laptop .rsSlide,
#slider-in-laptop .rsVideoFrameHolder,
#slider-in-laptop .rsThumbs {
  background: #transparent; }

.imgBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  margin-top: 5px; }

#slider-in-laptop .rsBullets {
  bottom: -25px; }

.laptopBg {
  position: relative;
  width: 100%;
  height: auto; }

#slider-in-laptop .rsBullets {
  bottom: -30px; }

/*=== Homepage Background ===*/
.full {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s; }

.gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent); }

.slide1 {
  background-color: #386EBE; }

.slide2 {
  background-color: #87BA9E; }

.slide3 {
  background-color: #f6ac33; }

.slide4 {
  background-color: #87BA9E; }

.active1 .full:nth-child(1), .active2 .full:nth-child(2), .active3 .full:nth-child(3), .active4 .full:nth-child(4) {
  opacity: 1; }

/*=== WORD CHANGE ===*/

#change_word {
  color: $white !important; }

.row.homecontent {
  margin: 80px auto; }

@include tablet() {
  .row.homecontent {
    margin: 20px auto; 
  }

  .homepagetext {
    font-size: 18px; 
  } 
}

/*=== TYPED JS ===*/

span.element {
    color: #fff;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #ffffff;
}

@include keyframes(blink) {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; } 
}

/*===================== 
WEBSITES
=====================*/

#websitesheader {
  background: #386EBE;
  font-family: 'avenir', Arial, sans-serif;
  position: relative; }

.portfolio {
  background: none repeat scroll 0 0 $white;
  display: inline-block;
  height: auto;
  margin: 40px 0; }

.portfolio img {
  width: 100%;
  @include single-transition(opacity, .5s, ease-in-out);
  @include backface-visibility(hidden); 
}

.portfolio img:hover {
  @include opacity(.8); 
}

.pageheader {
  font-family: 'avenir',Arial,sans-serif;
  padding: 30px 0 20px;
  text-align: center;
  color: $white; }

.descriptor {
  color: rgba(0, 0, 0, 0.4); 
}

/*=== Flexbox Adjustments ===*/

ul.website_blocks {
    @include flexbox((
      display: flex,
      flex-flow: row wrap
    ));
    list-style: none;
    width: 90%;
    margin: 50px auto 0;

    li {
        width: 50%;
        padding: 0px 10px;
        margin-bottom: 50px;
        @include flexbox((
          display: flex,
          flex-direction: column
        ));

        .title {
            padding: 10px;
            font-size: 18px;
            background: #fff;
            margin-bottom: 0px;
        }

        img {
            display: block;
        }

        .portfolio-description {
            padding: 20px;
            background: #fff;
            @include flexbox ((
              display: flex,
              flex-direction: column,
              flex: 1 0 auto,
            ));
        }

        @media all and (max-width: 768px) {

          width: 100%;

        }
    }
}

/*===================== 
PROJECTS
=====================*/

.project {
  color: $dark_grey;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  height: auto;
  width: 100%; }

#projectsheader {
  background: #E3A354;
  font-family: 'dosis', Arial, sans-serif;
  position: relative; }

.project-container {
  margin: 40px 0;
  background: $white;
  height: auto; 

  p.title {
    font-size: 18px;
    margin-bottom: 0px;
    padding: 20px;
  }

}

.projecttest {
  color: $dark_grey;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  height: auto;
  width: 100%; }

.project img {
  display: inline-block;
  float: left;
  width: 50%; }

.project-description {
  display: inline-block;
  margin: 15px; }

.container1 {
  display: inline-block;
  float: left;
  width: 50%; }

.container2 {
  display: inline-block;
  float: left;
  width: 50%; }

#gal {
  margin: 0 auto;
  position: relative; }

#gal div {
  position: absolute;
  width: 100%; }

@include keyframes(cf4FadeInOut) {
  0% { @include opaque(); }
  20% { @include opaque(); }
  33% { @include transparent(); }
  87% { @include transparent(); }
  100% { @include opaque(); }
}

#gal div {
  @include animation(cf4FadeInOut 15s ease-in-out infinite);
}

#gal div:nth-of-type(1) {
  @include animation-delay(10s);
}

#gal div:nth-of-type(2) {
  @include animation-delay(5s);
}

#gal div:nth-of-type(3) {
  @include animation-delay(0s);
}

/*===================== 
USEREXPERIENCE
=====================*/

#uxheader {
  background: #87BA9E;
  position: relative;
  font-family: 'dosis', Arial, sans-serif; }

.uximage {
  @include opacity(.7); 
}

/*=== Flexbox Adjustments ===*/

ul.ux_blocks {
    @include flexbox((
      display: flex,
      flex-flow: row wrap
    ));
    list-style: none;
    width: 90%;
    margin: 50px auto 0;

    li {
        width: 50%;
        padding: 0px 10px;
        margin-bottom: 50px;
        @include flexbox((
          display: flex,
          flex-direction: column,
          flex: 1 0 auto
        ));

        .title {
            padding: 10px;
            font-size: 18px;
            background: #fff;
            margin-bottom: 0px;
        }

        img {
            display: block;
        }

        .portfolio-description {
            padding: 20px;
            background: #fff;
            @include flexbox((
              display: flex,
              flex-direction: column,
              flex: 1 0 auto
            ));

            p {
              @include flexbox((
                display: flex,
                flex-direction: column,
                flex: 1 0 auto
              ));
            }
        }

        @media all and (max-width: 768px) {

          width: 100%;

        }
    }
}

/*===================== 
ABOUT
=====================*/

.aboutcontent {

  margin-top: 40px; 

  img {
    margin-bottom: 50px;
  }

}

#aboutheader {
  background: #7DB4B1;
  position: relative;
  font-family: 'dosis', Arial, sans-serif; }

.contact_button {
  color: #fff;
  padding: 20px 50px;
  @include single-transition(all, .5s, ease-in-out);
  background: rgba(125, 180, 177, 0.8);
  display: block;
  text-align: center; }

.contact_button:hover {
  background: none repeat scroll 0 0 rgba(125, 180, 177, 0.3);
  color: $white; }

/*===================== 
FOOTER
=====================*/

.homepagefooter {
  bottom: 0;
  padding: 50px 0px;
  position: relative;
  text-align: center;
  width: 100%; }

.footertext {
  font-size: 13px; 
  font-family: 'avenir', sans-serif;
}

.social {
  font-size: 13px; }

.homepageme {
  font-size: 20px; }

.footertext a {
  color: $light_grey; }

.footertext a:hover {
  color: $dark_grey; }

/*# sourceMappingURL=celso.css.map */
