@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

@font-face {
  font-family: 'avenir';
  src: url('../fonts/avenir/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/avenir/AvenirNextLTPro-Regular.otf')  format('opentype'),
         url('../fonts/avenir/AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/avenir/AvenirNextLTPro-Regular.ttf')  format('truetype'), url('../fonts/avenir/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-bold';
  src: url('../fonts/avenir/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/avenir/AvenirNextLTPro-Bold.woff') format('woff'), url('../fonts/avenir/AvenirNextLTPro-Bold.ttf')  format('truetype'), url('../fonts/avenir/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'baskerville';
  src: url('../fonts/baskerville/Baskerville-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/baskerville/Baskerville-Italic.woff') format('woff'), url('../fonts/baskerville/Baskerville-Italic.ttf')  format('truetype'), url('../fonts/baskerville/Baskerville-Italic.svg#Baskerville-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jaapokki';
  src: url('../fonts/jaapokki/jaapokkienchance-regular.eot') format('embedded-opentype'),  url('../fonts/jaapokki/jaapokkienchance-regular.woff') format('woff'), url('../fonts/jaapokki/jaapokkienchance-regular.ttf')  format('truetype'), url('../fonts/jaapokki/jaapokkienchance-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	font-family: 'avenir', sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 28px;
}

p {
    margin: 0px 0px 20px;
}

h1 {
	font-size: 50px;
    line-height: 50px;
    font-weight: 300;
    font-family: 'baskerville', serif;
    font-style: italic;

    @include mobile_landscape {
        font-size: 30px;
        line-height: 35px;
    }
}

p, h1 {
    margin: 0px 0px 20px;
}

a {
    text-decoration: none;
    color: $black;
    transition: color .3s ease-in-out;
}

strong, b {
    font-family: 'avenir-bold', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.baskerville {
    font-family: 'baskerville', serif;
}

/*==================================
GRID
==================================*/

.row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -20px;

    @include tablet {
        margin: 0px;
    }
}

/*=== Columns ===*/

.column_1_2 {
    position: relative;
    width: 50%;
    margin: 0px 0px 20px;
    padding: 0px 20px;
    float: left;
    display: inline-block;

    img {
        display: block;
        width: 100%;
    }

    @include tablet {
        width: 100%;
        padding: 0px;
    }
}

/*==================================
STRUCTURE  
==================================*/

body {
    display: flex;
    margin: 0px;
    flex-flow: row wrap;
}

main.page_container {
    background: $white;
    width: 90%;
    overflow-y: scroll;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.flexed {
        display: flex;
        flex-flow: row wrap;
    }

    &.loaded {
        margin-top: 0px;
        opacity: 1;
    }

    @include tablet_landscape {
        width: 100%;
        height: auto;
    }
}

.container {
    max-width: 940px;
    width: 90%;
    margin: 0px auto;
}

.page_header {
    text-align: center;
    margin: 50px 0px;

    @include tablet_landscape {
        margin: 30px 0px 50px;
    }
}

/*==================================
HELPERS 
==================================*/

.center {
    text-align: center;
}

/*==================================
COMPONENTS
==================================*/

/*=== Overlay ===*/

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    background: black;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: .3s all ease-in-out;
}

.overlay p {
    color: white;
    font-family: baskerville;
    font-style: italic;
    font-size: 20px;
    padding: 0px 10px;
    text-align: center;
}

/*==================================
SIDEBAR MENU  
==================================*/

header.sidebar_menu {
    width: 10%;
    height: 100vh;
    border-right: 1px solid #949494;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet_landscape {
        display: none;
    }
}

/*=== Logo ===*/

.logo {
    border-radius: 50%;
    font-weight: bold;
    font-family: 'jaapokki', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: $black;
    position: relative;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

    &:hover {
        background: white;
        color: #000;
    }
}

.sidebar_menu .logo {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

span.initials {
    display: none;
    letter-spacing: 2px;
}

span.circle {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -10px;
    animation: lighten 1s infinite ease-in-out;
}

@keyframes lighten {
  0%   { opacity: .3; }
  100% { opacity: 1; }
}

/*=== Navigation ===*/

.sidebar_menu nav.main_navigation {
    transform: rotate(-90deg);
    transform-origin: center;
}

nav.main_navigation {
    font-size: 18px;
    font-family: 'baskerville', serif;
    font-style: italic;
}

.main_navigation a {
    margin: 0px 10px;
    color: $grey;

    &.active {
        color: $black;
    }
}

/*==================================
MOBILE HEADER
==================================*/

header.mobile_header {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    display: none;

    @include tablet_landscape {
        display: block;
    }
}

.mobile_header .logo {
    margin-bottom: 10px;
}

/*==================================
WEBSITES
==================================*/

.page_container.homepage {
    display: flex;
    flex-direction: column;
}

// Slick Structure

section.website_images_carousel {
    width: 100%;
    height: 60%;

    @include tablet_landscape {
        height: 400px;
    }

    @include mobile_landscape {
        height: 250px;
    }

    @include mobile {
        height: 180px;
    }
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

section.website_images_carousel .website_container img.computer_frame {
    width: 100%;
}

/*=== Images ===*/

.website_content_container {
    height: 40%;

    @include tablet_landscape {
        height: auto;
    }

}

.website_container {
    position: relative;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100% !important;

    &.active {
        opacity: 1;
    }

    @include tablet_landscape {
        // height: 350px !important;
    }

    @include mobile_landscape {
        // height: 250px !important;
    }
}

.website_container:hover .overlay {
    opacity: 1;
}

.color_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.website_image {
    width: 50%;
    margin: 0 auto;
    z-index: 9;
    position: relative;

    img {
        display: block;
        width: 100%;
    }
}

// Screen w/ Video

.website_screen_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website_screen {
    width: 55%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        width: 70%;
    }
}

.website_screen video {
    position: relative;
    width: 100%;
}

.static_screen {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

.website_screen video {
    @include tablet_landscape {
        opacity: 0;
    }
}

img.static_screen {
    opacity: 0;

    @include tablet_landscape {
        opacity: 1;
    }
}

// Website Nav 

.website_nav {
    text-align: center;
    height: 20%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;

    @include tablet_landscape {
        max-height: 0;
        overflow: hidden;
        padding: 0px;
        flex-direction: column;
    }
}

.website_nav.mobile_open {
    max-height: 500px;
    padding: 20px 0px;
}

.website_nav li {
    position: relative;
    display: inline-block;
    margin: 0px 10px;
    color: $white;
    cursor: pointer;

    @include tablet_landscape {
        display: block;
        padding: 5px 0px;
    }
}

.website_nav li span {
    position: relative;
}

.website_nav li span:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $white;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.website_nav li.active span:after {
    transform: scaleX(1);
}

.website_nav li:hover span:after {
    transform: scaleX(1);
}

// Mobile Filter

section.website_mobile_filter {
    display: none;
    text-align: center;
    background: $black;
    color: $white;
    padding: 3px 0px;

    @include tablet_landscape {
        display: block;
    }
}

span.down_arrow {
    position: absolute;
    right: 10px;
}

// Website Content

.website_content {
    max-width: 800px;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet_landscape {
        height: auto;
        padding: 60px 0;
    }
}

.website_content a {
    font-family: 'avenir-bold', sans-serif;
}

/*==================================
PROJECTS
==================================*/

.projects_container {
    display: flex;
    flex-flow: row wrap;
}

.project {
    width: 50%;
    position: relative;

    img {
        display: block;
        width: 100%;
    }

    @include mobile_landscape {
        width: 100%;
    }
}

.project:hover {
    .overlay {
        opacity: 1;
    }
}

/*==================================
ABOUT
==================================*/

/*=== Social ===*/

ul.social_list {
    text-align: center;
    border-top: 1px solid $grey;
    padding-top: 20px;
}

ul.social_list li {
    display: inline-block;
    font-family: 'baskerville';
    font-style: italic;
    margin: 0px 10px;

    @include mobile {
        margin: 0 5px;
    }
}

ul.social_list li a {
    color: $black;

    &:hover {
        color: $grey;
    }
}