/*==================================
Video
==================================*/

video {
    width: 100%;
}

/*==================================
Lists
==================================*/

// Credit List

ul.credit_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.credit_list li {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

ul.credit_list li .title {
    font-weight: 700;
    text-transform: uppercase;
}

ul.credit_list li .text {
    text-align: right;
}