/*==================================
Links
==================================*/

.wysiwyg a {
  position: relative;
}

.wysiwyg a:after {
  content: "";
  position: absolute;
  top: 7px;
  width: 100%;
  height: 1px;
  background: $black;
  left: 0;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.wysiwyg a:hover:after {
  transform: scaleX(1);
}

/*==================================
Images
==================================*/

.wysiwyg img {
  margin-bottom: 20px;
}

/*==================================
Lists
==================================*/

.wysiwyg {
  ul, ol {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside;
    list-style: disc;
  }
}

.wysiwyg li {
  margin-left: 1.3em;
}

ul.no_bullets {
  list-style: none;
  
  li {
    margin-left: 0;
  }
}